<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mammoth/1.4.2/mammoth.browser.min.js"></script>
    <script src="../static/js/listener.js"></script>
    <title>Авто шаблоны</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<header>
    <div class="container">
        <div class="header__wrapper wrapper">
            <div class="header__menu">
                <a href="/" class="header__menu-item">
                    Главная
                </a>
                <a href="/send" class="header__menu-item">
                    Отправить сообщения
                </a>
                <a href="/create" class="header__menu-item">
                    Шаблоны
                </a>
            </div>
        </div>
    </div>
</header>


<body>