{% include 'head.html' %}

<section id="main-menu">
    <div class="container">
        <div class="main-menu__wrapper wrapper">

            <h2 class="title">
                Автоматическая отправлялка сообщений на почту. (v.1.2)
            </h2>

            <div class="desc-holder">

                <h4 class="subtitle">
                    Перед тем, как начать работу - прочтите небольшую инструкцию.
                </h4>

                <div class="text">
                    <p>
                        1. Убедитесь, что вы заполнены ACCOUNT_NAME и ACCOUNT_OUT_PASSWORD в конфигах (app/config.py).
                    </p>
                    <p>
                        2. Создайте первый шаблон с изменяемыми полями (рекомендую использовать что-то типа [text_to_replace] (В квадратных скобках) и загрузите его <a href="/create">здесь</a>.
                    </p>
                    <p>
                        3. После создания шаблона можете <a href="/send">отправлять сообщения</a>.
                    </p>
                    <p>
                        3.1. В поле "Адресаты" можно вводить сколько угодно адресатов (1 строка - 1 адрес).
                    </p>
                    <p>
                        3.2. "Поля для замены" - можно добавлять сколько угодно (Снизу есть плюсик). Как работает? Ответ - в поле "Ключ" вводите ТО, ЧТО НУЖНО заменить, а в поле "Значение" ТО, НА ЧТО НУЖНО поменять. Пример: Ключ = [text_to_replace], Значение = ООО "Тест".
                    </p>
                    <p>
                        3.3 Выбираете шаблон, который нужен и нажимаете кнопку "Предпросмотр" - показывает текст письма с подставленными значениями.
                    </p>
                    <p>
                        3.4 Кнопка "Отправить" - отправляет всем адресатам письма (Если нет ошибок, в ином случае выйдет ошибка).
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>

{% include 'foot.html' %}